<div id="sb-qc-topic-container">
    <div class="drawer-form-item">
        <label for="hw-qc-share-comment">Note: Following is just a dummy form for example purpose</label>        
        <label for="hw-qc-share-comment">This does not do anything</label>
    </div>
    <div class="drawer-form-item">
        <label for="hw-qc-share-name">Share Name</label>
        <input id="hw-qc-share-name" name="shareName" type="text" data-val="true" />
    </div>

    <div class="drawer-form-item">
        <label for="hw-qc-server-name">Share Name</label>
         <select id="hw-qc-share-server" name="selectedNamespaceName" data-fxcontroltype="fxDropdown"></select>
    </div>
 </div>

